<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
  <g id="Group_1023" data-name="Group 1023" transform="translate(-279 -108)">
    <g id="Group_1022" data-name="Group 1022" transform="translate(-16 -4)">
      <g id="Ellipse_24" data-name="Ellipse 24" transform="translate(300 117)" fill="#EAF6FF"
        stroke="#a3adb7" stroke-linecap="round" stroke-width="1.5">
        <circle cx="8" cy="8" r="8" stroke="none" />
        <circle cx="8" cy="8" r="7.25" fill="none" />
      </g>
      <line id="Line_60" data-name="Line 60" x2="5" y2="5" transform="translate(313.5 130.5)" fill="none"
        stroke="#a3adb7" stroke-linecap="round" stroke-width="1.5" />
    </g>
    <g id="Icon-28_placeholder" transform="translate(-186 -783)">
      <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28"
        transform="translate(465 891)" fill="none" />
    </g>
  </g>
</svg>