<ion-header>
  <ion-row class="header-row" (click)="navCtrl.pop()">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-col>
      <span>
        Payment Setup Info
      </span>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-row>
</ion-header>


<ion-content>
  <form [formGroup]="billingForm" [hidden]="!billingForm">
    <!-- billing start -->
    <div class="billing">

      <div class="input-box-ios" *ngIf="isIos()">
        <!-- card number -->
        <span>Card Number</span>
        <ion-row>
          <ion-col col-12>
            <div id="card-element-ios">
              <!-- a Stripe Element will be inserted here. -->
            </div>
          </ion-col>
        </ion-row>
        <!-- account -->
        <span>Account #</span>
        <ion-input matInput type="number" formControlName="account"></ion-input>
        <!-- routing -->
        <span>Routing #</span>
        <ion-input matInput type="number" formControlName="routing"></ion-input>
        <!-- bill -->
        <span>Billing Address Street</span>
        <ion-input matInput type="number" formControlName="billingAddress1"></ion-input>
        <!-- bill apt/suite/unit -->
        <span>Billing Address Apt/Suite/Unit</span>
        <ion-input matInput type="number" formControlName="billingAddress2"></ion-input>
        <!-- bill city -->
        <span>Billing Address City</span>
        <ion-input matInput type="number" formControlName="billingCity"></ion-input>
        <!-- bill state -->
        <span>Billing Address State</span>
        <ion-select formControlName="billingStateID">
          <ion-option *ngFor="let state of states" [value]="state.stateID">{{ state.stateShort }}</ion-option>
        </ion-select>
        <!-- bill zipcode -->
        <span>Billing Address ZipCode</span>
        <ion-input matInput type="text" formControlName="billingZipCode"></ion-input>
      </div>

      <div class="input-box-md" *ngIf="!isIos()">
        <!-- card number -->
        <ion-row>
          <span>Card Number</span>
          <ion-row>
            <ion-col col-12>
              <div id="card-element-android">
                <!-- a Stripe Element will be inserted here. -->
              </div>
            </ion-col>
          </ion-row>
        </ion-row>
        <!-- account -->
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Account #" formControlName="account">
        </mat-form-field>
        <!-- routing -->
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Routing #" formControlName="routing">
        </mat-form-field>
        <ion-row>
          <span>Billing Address</span>
        </ion-row>
        <!-- bill address street -->
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Street" formControlName="billingAddress1">
        </mat-form-field>
        <!-- bill address apt/suite/unit -->
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Apt/Suite/Unit" formControlName="billingAddress2">
        </mat-form-field>
        <!-- bill address city -->
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="City" formControlName="billingCity">
        </mat-form-field>
        <!-- bill address state -->
        <mat-form-field class="full-width">
          <mat-select placeholder="State" formControlName="billingStateID">
            <mat-option *ngFor="let state of states" [value]="state.stateID">
              {{ state.stateShort }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- bill address zipcode -->
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Zipcode" formControlName="billingZipCode">
        </mat-form-field>
      </div>

      <ion-row *ngIf="startValidation && errorMessage">
        <ion-col col-12>
          <ion-label color="danger">{{ errorMessage }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="startValidation && !account.valid && (account.dirty || account.touched)">
        <ion-label color="danger">Please enter your bank account number.</ion-label>
      </ion-item>

      <ion-item *ngIf="startValidation && !routing.valid && (routing.dirty || routing.touched)">
        <ion-label color="danger">Please enter your bank routing number.</ion-label>
      </ion-item>

      <ion-item *ngIf="startValidation && !billingAddress1.valid && (billingAddress1.dirty || billingAddress1.touched)">
        <ion-label color="danger">Please enter your billing address.</ion-label>
      </ion-item>

      <ion-item *ngIf="startValidation && !billingCity.valid && (billingCity.dirty || billingCity.touched)">
        <ion-label color="danger">Please enter your billing address city.</ion-label>
      </ion-item>

      <ion-item *ngIf="startValidation && !billingStateID.valid && (billingStateID.dirty || billingStateID.touched)">
        <ion-label color="danger">Please choose your billing address state.</ion-label>
      </ion-item>

      <ion-item *ngIf="startValidation && !billingZipCode.valid && (billingZipCode.dirty || billingZipCode.touched)">
        <ion-label color="danger">Please enter your billing address zipcode.</ion-label>
      </ion-item>

      <div class="step-btn">
        <ion-row>
          <ion-col col-12>
            <button class="normal-button" ion-button color=secondary (click)="submit()">Submit</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <!-- second step end -->
  </form>
</ion-content>
