<ion-header>
  <ion-row class="header-row" (click)="navCtrl.pop()">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back" ></ion-icon>
      </ion-col>
      <span style="margin-left: auto">
        New Contract Group
      </span>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-header>

<ion-content padding>
  <form [formGroup]="entityForm" [hidden]="!entityForm">
    <mat-form-field class="full-width with-hint">
      <input matInput type="text" placeholder="New Contract Group" formControlName="entityName" required>
      <mat-hint text-wrap>Contract groups can help organize your contracts and accounts.</mat-hint>
    </mat-form-field>
  </form>
  <ion-row *ngIf="startNewEntityValidation && newEntityErrorMessage" text-wrap>
    <ion-col col-12>
      <ion-label color="danger">{{ newEntityErrorMessage }}</ion-label>
    </ion-col>
  </ion-row>

  <ion-item *ngIf="startNewEntityValidation && !entityName.valid && (entityName.dirty || entityName.touched)">
    <ion-label color="danger">Please enter a name.</ion-label>
  </ion-item>

  <button ion-button class="normal-button" color=secondary (click)="submit()" [disabled]="!submitEnabled">{{ submitText }}</button>
</ion-content>