<ion-header>
  <ion-row class="header-row">
    <ion-row class="header-title">
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 no-padding text-center>
        <span>
          PROFILE
        </span>
      </ion-col>
      <ion-col col-1>
      </ion-col>
      <div class="right-icon" (click)="goEdit()">
        Edit
      </div>
    </ion-row>
  </ion-row>
  <ion-row class="first-block">
    <span class="name">{{ user?.fname }} {{ user?.lname }}</span>
    <span class="email">{{ user?.email }}</span> 
  </ion-row>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-row *ngIf="profileErrorMessage" text-wrap>
    <ion-col col-12>
      <ion-label color="danger">{{ profileErrorMessage }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-card *ngIf="!loading">
    <ion-row class="item-row" (click)="goBillingInfo()">
      <ion-label>Billing Info</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="!loading">
    <ion-row class="first-item-row item-row" (click)="goPassChange()">
      <ion-label>Change password</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
    <ion-row class="item-row" (click)="goSecuritySetting()">
      <ion-label>Security Settings</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="!loading">
    <ion-row class="first-item-row item-row" (click)="goHelpCenter()">
      <ion-label>Help Center</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
    <ion-row class="item-row" (click)="goFaqs()">
      <ion-label>FAQs</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="!loading">
    <ion-row class="item-row" (click)="goFeedback()">
      <ion-label>Reviews & Feedback</ion-label>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-card>

  <button ion-button class="normal-button" (click)="logout()" *ngIf="!loading" [disabled]="!logoutEnabled">{{ logoutText }}</button>

</ion-content>