
<ion-header>
  <ion-row class="header-row" (click)="navCtrl.pop()">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-col>
      <span>
        Forgot Password
      </span>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-row>
</ion-header>

<ion-content padding>
  <div class="subtitle-des">
    Enter your Email below<br>and Submit.
  </div>

  <div class="post-img">
    <img src="assets/imgs/post.png">
  </div>

  <div *ngIf="!isForgotUsername" class="subtitle-des">
    After that, you'll get an email<br>with steps to reset<br>forgotten password.
  </div>

  <ion-row class="input-box">
    <ion-row [ngClass]="isFocusEmail?'input-email active':'input-email'">
      <ion-col col-12>
        <ion-input autofocus type="text" placeholder="mail@example.com" [(ngModel)]="user.email" (ionFocus)='isFocus()' (ionBlur)='isBlur()'></ion-input>
      </ion-col>
    </ion-row>
  </ion-row>

  <ion-row *ngIf="errorMessage" text-wrap>
    <ion-col col-12>
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-col>
  </ion-row>

  <button class="normal-button" ion-button color=primary (click)="submit()" [disabled]="!submitEnabled">{{ submitText }}</button>
</ion-content>