<ion-header>
  <ion-row class="header-row" (click)="navCtrl.pop()">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-col>
      <span>
        Feedback on app experience
      </span>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-row>
</ion-header>

<ion-content>
  <div class="input-box-md">
    <mat-form-field class="full-width">
      <textarea matInput type="text" class="mat-area" placeholder="Your Feedback" [(ngModel)]="feedback"></textarea>
    </mat-form-field>
  </div>
  <ion-row class="star-rate">
    <div *ngFor="let star of [1,2,3,4,5]" (click)="onClickStar(star)">
      <!-- star Fill -->
      <svg *ngIf="star <= rating" xmlns=" http://www.w3.org/2000/svg" width="35.8" height="32.022"
        viewBox="0 0 35.8 32.022">
        <g id="Livello_100" data-name="Livello 100" transform="translate(0.5 0.5)">
          <path id="Path_73" data-name="Path 73"
            d="M36.03,21.055a1.512,1.512,0,0,0-1.536-1.486c-.055,0-.108,0-.161.008l-10.606-.25L20.1,9.867a1.547,1.547,0,0,0-2.949,0l-3.624,9.459-10.605.25c-.053-.005-.107-.008-.161-.008A1.511,1.511,0,0,0,1.23,21.055a1.473,1.473,0,0,0,.7,1.249l8.447,5.972L7.366,37.644a1.431,1.431,0,0,0-.172.68A1.512,1.512,0,0,0,8.73,39.811a1.558,1.558,0,0,0,.953-.322l8.949-5.681,8.948,5.681a1.558,1.558,0,0,0,.952.322,1.512,1.512,0,0,0,1.535-1.487,1.436,1.436,0,0,0-.172-.68l-3.014-9.369L35.328,22.3a1.476,1.476,0,0,0,.7-1.249"
            transform="translate(-1.23 -8.789)" fill="#ffb300" stroke="#ffb300" stroke-width="1" />
        </g>
      </svg>
      <!-- star out -->
      <svg *ngIf="star > rating" xmlns="http://www.w3.org/2000/svg" width="35.8" height="32.022" viewBox="0 0 35.8 32.022">
        <g id="Livello_100" data-name="Livello 100" transform="translate(0.5 0.5)">
          <path id="Path_73" data-name="Path 73"
            d="M36.03,21.055a1.512,1.512,0,0,0-1.536-1.486c-.055,0-.108,0-.161.008l-10.606-.25L20.1,9.867a1.547,1.547,0,0,0-2.949,0l-3.624,9.459-10.605.25c-.053-.005-.107-.008-.161-.008A1.511,1.511,0,0,0,1.23,21.055a1.473,1.473,0,0,0,.7,1.249l8.447,5.972L7.366,37.644a1.431,1.431,0,0,0-.172.68A1.512,1.512,0,0,0,8.73,39.811a1.558,1.558,0,0,0,.953-.322l8.949-5.681,8.948,5.681a1.558,1.558,0,0,0,.952.322,1.512,1.512,0,0,0,1.535-1.487,1.436,1.436,0,0,0-.172-.68l-3.014-9.369L35.328,22.3a1.476,1.476,0,0,0,.7-1.249"
            transform="translate(-1.23 -8.789)" fill="none" stroke="#a3adb7" stroke-width="1" />
        </g>
      </svg>
    </div>
  </ion-row>
  <ion-item *ngIf="feedbackErrorMessage" text-wrap>
    <ion-label color="danger">{{ feedbackErrorMessage }}</ion-label>
  </ion-item>
  <ion-row class="btn-wrap">
    <p>We read all feedback carefully, but we are unable to respond to each submission individually.</p>
    <button ion-button class="normal-button" color=secondary (click)="submit()" [disabled]="!feedbackEnabled">{{ feedbackText }}</button>
  </ion-row>
</ion-content>